In [1]:

import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [2]:
tabla_completa = pd.read_csv('events_up_to_01062018.csv');
tabla_completa.info()

C:\Users\Santi\AppData\Roaming\Python\Python36\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341681 entries, 0 to 2341680
Data columns (total 23 columns):
timestamp                   object
event                       object
person                      object
url                         object
sku                         float64
model                       object
condition                   object
storage                     object
color                       object
skus                        object
search_term                 object
staticpage                  object
campaign_source             object
search_engine               object
channel                     object
new_vs_returning            object
city                        object
region                      object
country                     object
device_type                 object
screen_resolution           object
operating_system_version    object
browser_version             object
dtypes: float64(1), object(22)
memory usage: 410.9+ MB

In [3]:
res = pd.read_csv('labels_training_set.csv');
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19414 entries, 0 to 19413
Data columns (total 2 columns):
person    19414 non-null object
label     19414 non-null int64
dtypes: int64(1), object(1)
memory usage: 303.4+ KB

In [4]:
tabla_completa['aux']=1
#Voy a contar la cantidad para cada tipo de evento de cada persona
num_eventos = tabla_completa.groupby(['person','event'])['aux'].sum()

num_eventos = num_eventos.unstack().reset_index().fillna(0)
num_eventos = num_eventos.set_index('person')
num_eventos['total_eventos'] = num_eventos.sum(axis=1)
#normalizo los numeros obtenidos seg√∫n la cantidad de eventos totales de esa persona
num_eventos_norm = num_eventos.loc[:,"ad campaign hit":"visited site"].div(num_eventos["total_eventos"], axis=0)
#num_eventos.sort_values(by='conversion',ascending=False)
#num_eventos_norm.sort_values(by='conversion',ascending=False)
num_eventos_norm = num_eventos_norm.reset_index()
num_eventos_norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38829 entries, 0 to 38828
Data columns (total 12 columns):
person               38829 non-null object
ad campaign hit      38829 non-null float64
brand listing        38829 non-null float64
checkout             38829 non-null float64
conversion           38829 non-null float64
generic listing      38829 non-null float64
lead                 38829 non-null float64
search engine hit    38829 non-null float64
searched products    38829 non-null float64
staticpage           38829 non-null float64
viewed product       38829 non-null float64
visited site         38829 non-null float64
dtypes: float64(11), object(1)
memory usage: 3.6+ MB

In [10]:
tabla_completa['timestamp'] = pd.to_datetime(tabla_completa['timestamp'])
#tabla_completa['timestamp'].max() -tabla_completa['timestamp'].min()

time_for_user = tabla_completa.groupby(['person'])['timestamp'].apply(lambda x: x.max() - x.min())
time_for_user = time_for_user.reset_index()
time_for_user['total_horas'] = time_for_user['timestamp'].dt.total_seconds()/3600
time_for_user.drop(['timestamp'],axis='columns')

         person         timestamp  total_horas
0      0008ed71   0 days 04:00:50     4.013889
1      00091926  27 days 21:43:34   669.726111
2      00091a7a   0 days 00:05:47     0.096389
3      000ba417   9 days 01:57:37   217.960278
4      000c79fe   0 days 00:10:20     0.172222
5      000e4d9e  14 days 05:50:27   341.840833
6      000e619d   2 days 22:05:30    70.091667
7      001001be   5 days 18:07:28   138.124444
8      0010e89a   0 days 00:00:43     0.011944
9      0016c4b5   0 days 00:00:02     0.000556
10     001802e4   0 days 00:10:46     0.179444
11     001804a2   2 days 18:14:12    66.236667
12     0019e639 114 days 07:49:57  2743.832500
13     001a2273   0 days 00:14:35     0.243056
14     001b0bf9   0 days 00:15:18     0.255000
15     001ca5ee  79 days 12:02:09  1908.035833
16     001dfc31 102 days 16:31:11  2464.519722
17     001e9aea  67 days 21:05:57  1629.099167
18     0020152e  23 days 10:40:29   562.674722
19     00202cdb   0 days 20:05:02    20.083889
20     0022965d  99 days 02:39:58  2378.666111
21     0027574e   9 days 05:20:39   221.344167
22     00295d74   0 days 00:13:53     0.231389
23     002aea56 111 days 06:56:24  2670.940000
24     002b0188  62 days 04:12:23  1492.206389
25     002e74b2   0 days 00:02:52     0.047778
26     002ed810  39 days 18:11:29   954.191389
27     002fb981  95 days 16:07:17  2296.121389
28     00317e49   0 days 00:03:53     0.064722
29     0031c75f   0 days 00:34:13     0.570278
...         ...               ...          ...
38799  ffcaae19   0 days 00:21:18     0.355000
38800  ffcaeaae   0 days 00:11:29     0.191389
38801  ffccd5a1   4 days 17:45:48   113.763333
38802  ffcf952b   8 days 18:36:24   210.606667
38803  ffd41214  35 days 19:44:52   859.747778
38804  ffd62616  14 days 21:24:31   357.408611
38805  ffd9756a   0 days 10:21:29    10.358056
38806  ffda14ca   0 days 00:05:35     0.093056
38807  ffdafc72   2 days 02:03:22    50.056111
38808  ffddd0ec   0 days 00:44:26     0.740556
38809  ffde3628   8 days 00:11:41   192.194722
38810  ffe066cc   5 days 04:17:52   124.297778
38811  ffe53446   1 days 03:01:43    27.028611
38812  ffe7e848  99 days 01:23:27  2377.390833
38813  ffeb80c5   0 days 00:02:21     0.039167
38814  ffebdbc9   0 days 00:02:06     0.035000
38815  ffecdf29   0 days 02:02:48     2.046667
38816  ffecea3d  21 days 23:20:12   527.336667
38817  ffed0342  81 days 01:28:50  1945.480556
38818  ffed3d0e   0 days 00:04:36     0.076667
38819  ffee0f18 138 days 02:00:04  3314.001111
38820  ffef83e6  62 days 04:01:05  1492.018056
38821  fff1659c  15 days 18:24:02   378.400556
38822  fff1b11a   0 days 00:10:13     0.170278
38823  fff1caee   0 days 00:00:16     0.004444
38824  fff2bdde  11 days 03:22:47   267.379722
38825  fff54d61   0 days 00:00:00     0.000000
38826  fff72025  37 days 19:24:01   907.400278
38827  fff78145   1 days 20:39:54    44.665000
38828  fffd1246   0 days 00:02:23     0.039722

[38829 rows x 3 columns]

In [ ]:
data_nuevo = pd.merge(num_eventos_norm,time_for_user,on='person',how='inner')

In [ ]:
intento = data_nuevo.drop(['conversion'],axis='columns')
intento_f = pd.merge(intento,res,on='person',how='inner')

intento_f = intento_f.set_index('person')
intento_f.info()

In [ ]:
final = pd.read_csv('trocafone_kaggle_test.csv')
final = pd.merge(intento,final,on='person',how='inner')
final = final.set_index('person')
final.info()

In [ ]:
x_entrega = final

In [ ]:
#XGBoost

X, y = intento_f.iloc[:,:-1],intento_f.iloc[:,-1]
X

In [ ]:
y

In [ ]:
data_dmatrix = xgb.DMatrix(data=X,label=y)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.2, random_state=123)
    
xg_reg = xgb.XGBRegressor(objective ='reg:linear', 
                colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

xg_reg.fit(X_train,y_train)

In [ ]:
preds = xg_reg.predict(X_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

In [ ]:
entrega = xg_reg.predict(x_entrega)
y_summit = pd.DataFrame(entrega)
y_summit.columns = ['label']
y_summit['person'] = x_entrega.reset_index()['person']
y_person = x_entrega.reset_index()['person']

y_summit = y_summit[['person','label']]
y_summit.to_csv('summit01.csv', index=False)

In [ ]:
#K-fold

params = {"objective":"reg:linear",'colsample_bytree': 0.3,
          'learning_rate': 0.1, 'max_depth': 5, 'alpha': 10}

cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
                    num_boost_round=50, early_stopping_rounds=10,
                    metrics="rmse", as_pandas=True, seed=123)

In [ ]:
gridsearch_params = [
    (max_depth, min_child_weight)
    for max_depth in range(9,12)
    for min_child_weight in range(5,8)
]

params = {"objective":"reg:linear",'colsample_bytree': 0.3,
          'learning_rate': 0.1, 'max_depth': 5, 'alpha': 10}

In [ ]:
# Define initial best params and MAE
min_mae = float("Inf")
best_params = None
for alpha in range (0,20):
    # Update our parameters
    params['alpha'] = alpha
    # Run CV
    cv_results = xgb.cv(
        params=params,
        dtrain=data_dmatrix,
        num_boost_round=50,
        seed=123,
        nfold=5,
        metrics={'rmse'},
        early_stopping_rounds=10
    )
    # Update best MAE
    mean_mae = cv_results['test-rmse-mean'].min()
    boost_rounds = cv_results['test-rmse-mean'].argmin()
    print("\trmse {} for {} rounds".format(mean_mae, boost_rounds))
    if mean_mae < min_mae:
        min_mae = mean_mae
        best_params = alpha
print(best_params)